In [9]:
class Student: 
    #class properties 
    name = ['Rahul kumar','Dhakad','nitin']
    branch = 'computer science engineeer'
    college = "IET Lucknow"

In [10]:
stu_obj = Student()     # object creation or instance

In [14]:
print(stu_obj.name)

['Rahul kumar', 'Dhakad', 'nitin']

In [16]:
stu_obj.branch = "information technology"

In [17]:
stu_obj.college = "nalanda university"

In [18]:
print(stu_obj.college)

nalanda university

In [19]:
print(stu_obj.branch)

information technology

In [57]:
class ListFunction: 
    ls = [25,41,63,85,74,96,112,113,117,75,963,42,14,52,77,88,55,66,33,22,11,44,55,88,99,66,74,52,1]   # without using len 

    # Method 
    def len_finder(self):
        count = 0 
        for item in self.ls:
            count +=1
        print(count)

    #method 
    def average_finder(self):    # len , sum 
        total_sum = 0 
        count = 0
        for item in self.ls: 
            if item %2 ==0:
                total_sum += item 
                count += 1 
    
        print("Your average is : ",total_sum/count)

    

    def average_finder_even(self):
        total_sum = 0 
        count = 0 
        for item in self.ls: 
            if item >=50 and item <=100 and item % 2 ==0: 
                total_sum += item 
                count +=1 
        average = total_sum/count
        print("Your average is : ",round(average,2))

In [58]:
obj =  ListFunction()

In [59]:
obj.average_finder_even()

Your average is :  72.89

In [44]:
obj.average_finder()

Your average is :  133.71428571428572

In [40]:
ls = [25,41,63,85,74,96,112,113,117,75,963,42,14,52] 

def average_finder(ls):    # len , sum 
    total_sum = 0 
    count = 0
    for item in ls: 
        total_sum += item 
        count += 1 

    print("Your average is : ",total_sum/count)

In [41]:
average_finder(ls)

Your average is :  133.71428571428572

In [87]:
### constructor    
class Student: 
    # class variable 
    name = "Rahul kumar"

    # instance variable 
    def __init__(self): 
        self.student_name = "Mohit kumar"
        self.branch = 'CSE'
        self.college = "IET lucknow"

In [88]:
obj1 = Student()
obj2 = Student()
obj3 = Student()

In [90]:
Student.name  = "Dharm pal"

In [91]:
Student.name

'Dharm pal'

In [92]:
obj4 =  Student()

In [94]:
obj4.name

'Dharm pal'

In [83]:
obj3.name

'Rahul kumar'

In [81]:
Student.name

'Rahul kumar'

In [84]:
obj2.name = "varshit"

In [78]:
obj1.name = "varshit 2"

In [69]:
Student.name

'Rahul kumar'

In [85]:
obj1.name

'Rahul kumar'

In [105]:
### constructor    
class Student: 
    # class variable 
    name = "Rahul kumar"

    # instance variable 
    def __init__(self,name,student_branch,student_college): 
        self.student_name = name 
        self.branch = student_branch
        self.college = student_college
        print('I am executed !')

In [114]:
obj1 = Student(name='Rahul kumar',student_branch="cse",student_college="iet lucknow")
obj2 = Student(name='rocky kumar',student_branch="machanical",student_college="iet bhopal")
my_obj  = Student(name="Ranjit Singh",student_branch="cse",student_college="IET agra")

I am executed !
I am executed !
I am executed !

In [115]:
my_obj.student_name

'Ranjit Singh'

In [117]:
my_obj.student_name

'Ranjit Singh'

In [101]:
obj1 = Student() 
obj2 = Student()
obj3 = Student()

I am executed !
I am executed !

In [102]:
obj1.student_name

'Mohit kumar'

In [103]:
obj2.student_name

'Mohit kumar'

In [ ]:
class Faculty: 
    # class variable 

    def __init__(self):


    # all the instance variable 
    def show_info():
        print(instance variables )

In [ ]:
# mutliple

In [27]:
class Student: 
    # class variable 
    collge_name = "IET Lucknow"

    def __init__(self,name,branch,ls_of_subject):
        # instance variable 
        self.student_name = name
        self.branch = branch
        self.subject = ls_of_subject 

    # intance method , class method , static method 
    def display(self): 
        print("My name is : ",self.student_name)
        print("My branch is : ",self.branch)
        print("My subjects : ",self.subject)
        print(self.collge_name) 

    @classmethod   # decorator 
    def display2(cls):
        print("my college name is : ",cls.collge_name) 


    #static  method 

    @staticmethod 
    def display2(): 
        pass

In [37]:
obj = Student(name="Radhey",branch='cse',ls_of_subject=['physics','chemistry','Hindi'])

In [34]:
obj.display() 
# Student.display()   #

My name is :  Radhey
My branch is :  cse
My subjects :  ['physics', 'chemistry', 'Hindi']
IET Lucknow

In [35]:
obj.display2()    # using instance

my college name is :  IET Lucknow

In [36]:
Student.display2()   # using class name

my college name is :  IET Lucknow

### Inheritence 

oops  <br>
1. inheritance <br>
2. Polymorphism <br>
3. abstractin<br> 
4. encapsulation

In [53]:
## SINGLE INHERITENCE without constructor 
class Faculty: 
    college_name = "IET Lucknow"  
    total_staff = 200


class Student(Faculty): 
    total_student = 5000 
    branch = 'cse'

In [54]:
faculty_obj = Faculty()

In [55]:
student_obj = Student()
student_obj.total_student

5000

In [56]:
student_obj.college_name

'IET Lucknow'

In [74]:
class Father: 
    def __init__(self,father_name,father_age): 
        self.father_name = father_name
        self.father_age = father_age
        print('father constructor executed')

    #instace method 
    def father_hii(self):
        print("My father name is : ",self.father_name)
        print("AGE is : ",self.father_age)


class Son(Father): 
    def __init__(self,son_name,son_age,father_name,father_age):
        self.son_name = son_name
        self.son_age = son_age
        super().__init__(father_name,father_age)   # super class constructor 
        print('son constructor executor')
        
    def son_hii(self):
        print("Son name : ",self.son_name)
        print("Son age : "),self.son_age

In [75]:
son_obj = Son(son_name='Raju',son_age=25,father_name="Dharmpal",father_age=49)
son_obj.son_hii()
print()
son_obj.father_hii()

father constructor executed
son constructor executor
Son name :  Raju
Son age :

My father name is :  Dharmpal
AGE is :  49

In [67]:
# father_obj = Father(father_name='Suresh chandra',father_age=46) 
father_obj2 = Father('Suresh chandra',46)
father_obj.father_hii()

My father name is :  Suresh chandra
AGE is :  46

In [68]:
son_obj = Son(son_name='Raju',son_age=25)
son_obj.son_hii()

Son name :  Raju
Son age :

In [69]:
son_obj.father_hii()

AttributeError: 'Son' object has no attribute 'father_name'

In [ ]:
'Son' object has no attribute 'father_hii'

In [ ]:
son_obj.