In [1]:
import pandas as pd

In [2]:
dt = {"Name":['Nikita rawat','pragati sharama','kartik','arushi'],
     "Branch":['cse','it','ece','cse'],
     "class":[1,2,3,4],
     "city":['ajmer','agra','mathura','vridavan']}

dt

{'Name': ['Nikita rawat', 'pragati sharama', 'kartik', 'arushi'],
 'Branch': ['cse', 'it', 'ece', 'cse'],
 'class': [1, 2, 3, 4],
 'city': ['ajmer', 'agra', 'mathura', 'vridavan']}

In [3]:
df = pd.DataFrame(dt)
df

              Name Branch  class      city
0     Nikita rawat    cse      1     ajmer
1  pragati sharama     it      2      agra
2           kartik    ece      3   mathura
3           arushi    cse      4  vridavan

In [4]:
type(df)

pandas.core.frame.DataFrame

In [6]:
type(df['Name'])

pandas.core.series.Series