<H1>MACHINE LEARNING</H1>

### QUICK REVISION

In [1]:

# MACHINE LEARNING
# ->SUBFIELD OF AI THAT FOCUSE ON THE DEVELOP THE ALGORITHMS 
# ->AI-> CREATING SMART MACHINES TO MIMIC HUMAN BEHAVIOUR
# ->BASED ON THE PREVIOUS DATA IT WILL PREDICT THE FUTURE DATA
# ->LEARN PATTERNS FROM THE PATTERNS OF THE PAST 
# ->IT ALLOW COMPUTER TO LEARN AND IMPROVE THEIR PERFORMANCE 
# -> ML ALGORITHM CANNOT READ ALPHABETICAL ONLY STUDY THE NUMERICAL 
# ->ML TYPES---
#     -SUPERVISED LEARNING
#         -CLASSIFICATION
#             -NAIVE BAYES CLASSIFIERS
#             -DECISION TREES
#             -SUPPORT VECTOR MACHINES
#             -RANDOM FOREST
#             -K-NEAREST NEIGHBORS
#         -REGRESSION
#             -X(FEATURES OR INDEPENDENT VARIABLES- MULTIPLE FACTORS)
#             -Y(DEPENDENT VARIABLES- ALWAYS SINGLE FACTORS)(LABEL DATA)
#             -LINEAR REGRESSION
#             -NEUTRAL REGRESSION
#             -SUPPORT VECTOR REGRESSION
#             -DECISION TREE REGRESSION
#             -LASSO REGRESSION
#             -RIDGE REGRESSSION
#         -CLUSTERING
#             -K-MEANS CLUSTERING
#             -MEAN-SHIFT CLUSTERING
#     -UNSUPERVISED LEARNING
#     -REINFORCEMENT LEARNING

# MACHINE LEARNING LIFECYCLE....
# ->1.Define problem statement        --
# ->2.Data gathering                    |   PREPARAION, ANALYSIS
# ->3.Data preparation                  |
# ->4.Data Analysis                   --
# ->5.Model selection and 
# ->6.Model Testing
# ->7.Deploymnent 
# ->dt1={"First Owner":1,"Second Owner":2,"Third Owner":3,"Fourth Owner Or More ":4}
#   categorial["owner"]=categorial["owner"].map(dt1)                                                          MAKE A DICTIONARY AS THE MAP
# ->dt = {item:i for i,item in enumerate(brand_list,start=1)}                                                 ENUMERATE THE BRAND_LIST                        
# ->categorial["brand"]=categorial["brand"].map(dt)                                                           MAKING THE BRAND  AS THE MAPS DATA
# ->categorial.drop(["bike_name","city","owner_name"],axis=1,inplace=True)                                    DROPING THE BIKE_NAME, CITY, OWNER_NAME
# ->data=pd.concat([categorial,numerical],axis=1)                                                             CONCATENATE THE CATEGORIAL AND NUMERICAL

IMPORTING THE NUMPY AND PANDAS

In [2]:
import pandas as pd
import numpy as np

GATHERING DATA

In [3]:
df=pd.read_csv("Used_Bikes.csv")
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

PRINTING THE INFO

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  object
 1   price       32648 non-null  float64
 2   city        32648 non-null  object
 3   kms_driven  32648 non-null  float64
 4   owner       32648 non-null  object
 5   age         32648 non-null  float64
 6   power       32648 non-null  float64
 7   brand       32648 non-null  object
dtypes: float64(4), object(4)
memory usage: 2.0+ MB

REGRESSION

DROP DUPLICATES

In [5]:
df.drop_duplicates(inplace=True)

INFO

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7324 entries, 0 to 9372
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   7324 non-null   object
 1   price       7324 non-null   float64
 2   city        7324 non-null   object
 3   kms_driven  7324 non-null   float64
 4   owner       7324 non-null   object
 5   age         7324 non-null   float64
 6   power       7324 non-null   float64
 7   brand       7324 non-null   object
dtypes: float64(4), object(4)
memory usage: 515.0+ KB

ISNULL().SUM()

In [7]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

FETCH OUT THE KEYS

In [8]:
df["brand"].value_counts().keys()

Index(['Bajaj', 'Royal Enfield', 'Hero', 'Honda', 'Yamaha', 'TVS', 'KTM',
       'Suzuki', 'Harley-Davidson', 'Kawasaki', 'Hyosung', 'Mahindra',
       'Benelli', 'Triumph', 'Ducati', 'BMW', 'Jawa', 'Indian', 'MV',
       'Rajdoot', 'LML', 'Yezdi', 'Ideal'],
      dtype='object', name='brand')

MAKE A BRAND_LIST FOR GREATER THEN 10 BIKES

In [9]:
brand_list=['Bajaj', 'Royal Enfield', 'Hero', 'Honda', 'Yamaha', 'TVS', 'KTM',
       'Suzuki', 'Harley-Davidson', 'Kawasaki', 'Hyosung', 'Mahindra',
       'Benelli', 'Triumph', 'Ducati', 'BMW']
brand_list

['Bajaj',
 'Royal Enfield',
 'Hero',
 'Honda',
 'Yamaha',
 'TVS',
 'KTM',
 'Suzuki',
 'Harley-Davidson',
 'Kawasaki',
 'Hyosung',
 'Mahindra',
 'Benelli',
 'Triumph',
 'Ducati',
 'BMW']

FILTER THE BRAND_LIST

In [10]:
df=df[df["brand"].isin(brand_list)]
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,First Owner,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,First Owner,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,First Owner,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,First Owner,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,First Owner,5.0,220.0,Bajaj

FILTER THE CATEGORIAL

In [11]:
categorial=df.select_dtypes(include="O")
categorial

,bike_name,city,owner,brand
0,TVS Star City Plus Dual Tone 110cc,Ahmedabad,First Owner,TVS
1,Royal Enfield Classic 350cc,Delhi,First Owner,Royal Enfield
2,Triumph Daytona 675R,Delhi,First Owner,Triumph
3,TVS Apache RTR 180cc,Bangalore,First Owner,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,Bangalore,First Owner,Yamaha
...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,Delhi,First Owner,Hero
9369,Bajaj Avenger 220cc,Bangalore,First Owner,Bajaj
9370,Harley-Davidson Street 750 ABS,Jodhpur,First Owner,Harley-Davidson
9371,Bajaj Dominar 400 ABS,Hyderabad,First Owner,Bajaj
9372,Bajaj Avenger Street 220,Hyderabad,First Owner,Bajaj

FILTER AS NUMERICAL VALUES

In [12]:
numerical=df.select_dtypes(exclude="O")
numerical

         price  kms_driven  age  power
0      35000.0     17654.0  3.0  110.0
1     119900.0     11000.0  4.0  350.0
2     600000.0       110.0  8.0  675.0
3      65000.0     16329.0  4.0  180.0
4      80000.0     10000.0  3.0  150.0
...        ...         ...  ...    ...
9362   25000.0     48587.0  8.0  150.0
9369   35000.0     60000.0  9.0  220.0
9370  450000.0      3430.0  4.0  750.0
9371  139000.0     21300.0  4.0  400.0
9372   80000.0      7127.0  5.0  220.0

[7307 rows x 4 columns]

VALUE_COUNTS OF CATEGORIAL

In [13]:
categorial["owner"].value_counts()

owner
First Owner             6628
Second Owner             586
Third Owner               83
Fourth Owner Or More      10
Name: count, dtype: int64

MAKE A DICTIONARY AS THE MAP

In [14]:
categorial['owner'].value_counts()

owner
First Owner             6628
Second Owner             586
Third Owner               83
Fourth Owner Or More      10
Name: count, dtype: int64

In [15]:
dt1={"First Owner":1,"Second Owner":2,"Third Owner":3,"Fourth Owner Or More":4}
categorial["owner"]=categorial["owner"].map(dt1)

PRINT THE CATEGORIAL

In [16]:
categorial

                                 bike_name       city  owner            brand
0       TVS Star City Plus Dual Tone 110cc  Ahmedabad      1              TVS
1              Royal Enfield Classic 350cc      Delhi      1    Royal Enfield
2                     Triumph Daytona 675R      Delhi      1          Triumph
3                     TVS Apache RTR 180cc  Bangalore      1              TVS
4     Yamaha FZ S V 2.0 150cc-Ltd. Edition  Bangalore      1           Yamaha
...                                    ...        ...    ...              ...
9362             Hero Hunk Rear Disc 150cc      Delhi      1             Hero
9369                   Bajaj Avenger 220cc  Bangalore      1            Bajaj
9370        Harley-Davidson Street 750 ABS    Jodhpur      1  Harley-Davidson
9371                 Bajaj Dominar 400 ABS  Hyderabad      1            Bajaj
9372              Bajaj Avenger Street 220  Hyderabad      1            Bajaj

[7307 rows x 4 columns]

PRINT THE KEYS()

In [17]:
categorial["brand"].value_counts().keys()

Index(['Bajaj', 'Royal Enfield', 'Hero', 'Honda', 'Yamaha', 'TVS', 'KTM',
       'Suzuki', 'Harley-Davidson', 'Kawasaki', 'Hyosung', 'Mahindra',
       'Benelli', 'Triumph', 'Ducati', 'BMW'],
      dtype='object', name='brand')

PRINT THE NUMBER AS BRAND_LIST

In [18]:
# brand_list
# dt={}
# for i in range(0,len(brand_list)):
#     dt[brand_list[i]]=i

PRINTING THE DF

In [19]:
# dt

ENUMERATE THE BRAND_LIST

In [20]:
dt = {item:i for i,item in enumerate(brand_list,start=1)}
dt

{'Bajaj': 1,
 'Royal Enfield': 2,
 'Hero': 3,
 'Honda': 4,
 'Yamaha': 5,
 'TVS': 6,
 'KTM': 7,
 'Suzuki': 8,
 'Harley-Davidson': 9,
 'Kawasaki': 10,
 'Hyosung': 11,
 'Mahindra': 12,
 'Benelli': 13,
 'Triumph': 14,
 'Ducati': 15,
 'BMW': 16}

CATEGORIAL BRANDS AS THE MAPS

MAKING THE BRAND  AS THE MAPS DATA

In [21]:
categorial["brand"]=categorial["brand"].map(dt)

In [22]:
categorial

                                 bike_name       city  owner  brand
0       TVS Star City Plus Dual Tone 110cc  Ahmedabad      1      6
1              Royal Enfield Classic 350cc      Delhi      1      2
2                     Triumph Daytona 675R      Delhi      1     14
3                     TVS Apache RTR 180cc  Bangalore      1      6
4     Yamaha FZ S V 2.0 150cc-Ltd. Edition  Bangalore      1      5
...                                    ...        ...    ...    ...
9362             Hero Hunk Rear Disc 150cc      Delhi      1      3
9369                   Bajaj Avenger 220cc  Bangalore      1      1
9370        Harley-Davidson Street 750 ABS    Jodhpur      1      9
9371                 Bajaj Dominar 400 ABS  Hyderabad      1      1
9372              Bajaj Avenger Street 220  Hyderabad      1      1

[7307 rows x 4 columns]

MAKING THE OWNER_NAME AS PRAG

In [23]:
categorial["owner_name"]="prag"
categorial

                                 bike_name       city  owner  brand owner_name
0       TVS Star City Plus Dual Tone 110cc  Ahmedabad      1      6       prag
1              Royal Enfield Classic 350cc      Delhi      1      2       prag
2                     Triumph Daytona 675R      Delhi      1     14       prag
3                     TVS Apache RTR 180cc  Bangalore      1      6       prag
4     Yamaha FZ S V 2.0 150cc-Ltd. Edition  Bangalore      1      5       prag
...                                    ...        ...    ...    ...        ...
9362             Hero Hunk Rear Disc 150cc      Delhi      1      3       prag
9369                   Bajaj Avenger 220cc  Bangalore      1      1       prag
9370        Harley-Davidson Street 750 ABS    Jodhpur      1      9       prag
9371                 Bajaj Dominar 400 ABS  Hyderabad      1      1       prag
9372              Bajaj Avenger Street 220  Hyderabad      1      1       prag

[7307 rows x 5 columns]

DROPING THE BIKE_NAME, CITY, OWNER_NAME

In [24]:
categorial.drop(["bike_name","city","owner_name"],axis=1,inplace=True)
categorial

      owner  brand
0         1      6
1         1      2
2         1     14
3         1      6
4         1      5
...     ...    ...
9362      1      3
9369      1      1
9370      1      9
9371      1      1
9372      1      1

[7307 rows x 2 columns]

CONCATENATE THE CATEGORIAL AND NUMERICAL

In [25]:
data=pd.concat([categorial,numerical],axis=1)
data

      owner  brand     price  kms_driven  age  power
0         1      6   35000.0     17654.0  3.0  110.0
1         1      2  119900.0     11000.0  4.0  350.0
2         1     14  600000.0       110.0  8.0  675.0
3         1      6   65000.0     16329.0  4.0  180.0
4         1      5   80000.0     10000.0  3.0  150.0
...     ...    ...       ...         ...  ...    ...
9362      1      3   25000.0     48587.0  8.0  150.0
9369      1      1   35000.0     60000.0  9.0  220.0
9370      1      9  450000.0      3430.0  4.0  750.0
9371      1      1  139000.0     21300.0  4.0  400.0
9372      1      1   80000.0      7127.0  5.0  220.0

[7307 rows x 6 columns]

FEATURE ENGINEERING

In [26]:
# feature =columns
# variable
# feature selection
# feature engineering

# define your independent and dependent variables 

x = data.drop('price',axis=1)
y = data[['price']]

In [27]:
y

         price
0      35000.0
1     119900.0
2     600000.0
3      65000.0
4      80000.0
...        ...
9362   25000.0
9369   35000.0
9370  450000.0
9371  139000.0
9372   80000.0

[7307 rows x 1 columns]

### NEXT DAY

### QUICK REVISION

In [28]:
#                                                                          THEORY
# IF THE MODEL SCORE > 90  THEN IT GIVE ACCURATE PREDICTION
# Differnece betweenn training score and test score  > 5 (SHOULD BE LESS THEN 5)
# Model overfit or underfit or perfect (genrailized model )
# Model overfit  
#   Training score ---->    HIGH 
#   Testing score  ---->    LOW 
# Model underfit
#   Training score ---->    LOW 
#   Testing score  ---->    HIGH/LOW
# GENERILIZED MODEL  
#   Difference not more than 5 
#   Model overfit or underfit 
#   Score or accuracy  HIGH in both case on train as well on test data 

#                                                                            SOME PROGRAM
# ->from sklearn.model_selection import train_test_split                                               IMPORT TRAIN_TEST_SPLIT
# ->x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)                                X_TRAIN, X_TEST, Y_TRAIN, Y_TEST
# ->from sklearn.linear_model import LinearRegression                                                  IMPORT LINEAR REGRESSION
# ->lg = LinearRegression()   
# ->lg.fit(x_train,y_train)                                                                             MAKE LINEAR REGRESSION AS LG
# ->print("Training score : ",round(lg.score(x_train,y_train)*100,2))
  # print("Testing score : ",round(lg.score(x_test,y_test)*100,2))                                      Training & Testing 
# ->y_hat = lg.predict(x_test)                                                                          PUT PREDICTION IN Y_HAT
# ->y_test['prediction'] = y_hat                                                                        PRDICTION SHOULD BE IN Y_HAT
# ->y_test['prediction'] = y_test['prediction'].map(lambda x: round(x,2))                               MAKE ROUND FIGURE OF THE PREDICTION
# ->rdf.fit(x_train,y_train)                                                                            IMPORT RANDOMFORESTREGRESSOR AND TRAIN THE MODEL
# ->print("Training score : ",round(rdf.score(x_train,y_train)*100,2))
#   print("Testing score : ",round(rdf.score(x_test,y_test['price'])*100,2))
# ->joblib.dump(ls,'favourate_student.lb')                                                               STORING THE LIST AS THE FAVORITE_STUDENT.lb IN RAM
# ->joblib.dump(lg,'linear_regression_model.lb')                                                         PRINTING THE LINEAR_REGRESSION_MODEL AS A FILE
# ->joblib.dump(lg,'linear_regression_model')                                                            PRINTING THE LINEAR_REGRESSION_MODEL

IMPORTING THE SKLEARN MODEL

In [52]:
x_train

      owner  brand  kms_driven   age  power
3529      1      7     14357.0   6.0  200.0
269       1      1      7000.0   4.0  150.0
3991      1      3     21999.0  14.0  100.0
7727      1      1      3450.0   4.0  220.0
6157      1      8     39000.0  10.0  125.0
...     ...    ...         ...   ...    ...
2807      1      1     38500.0   7.0  220.0
286       1      3     28653.0   8.0  100.0
4009      1      3     21332.0  10.0  100.0
8999      1      1     25000.0   7.0  220.0
1716      1      2       770.0   2.0  350.0

[5845 rows x 5 columns]

IMPORT TRAIN_TEST_SPLIT

In [29]:
from sklearn.model_selection import train_test_split

X_TRAIN, X_TEST, Y_TRAIN, Y_TEST

In [30]:
# x and y ---> training and testing split 
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)    # test size 20% other remaining training == 80

IMPORT LINEAR REGRESSION

In [31]:
from sklearn.linear_model import LinearRegression

MAKE LINEAR REGRESSION AS LG

In [32]:
lg = LinearRegression()

PRINT Y_TRAIN

In [33]:
y_train

         price
3529  135000.0
269    45000.0
3991   14000.0
7727   76000.0
6157   15900.0
...        ...
2807   45000.0
286    31500.0
4009   23000.0
8999   65000.0
1716  144700.0

[5845 rows x 1 columns]

PRINT ISNULL FUNCTION TO CHECK THE DUPLICATE VALUES

In [34]:
x_train.isnull().sum()

owner         0
brand         0
kms_driven    0
age           0
power         0
dtype: int64

ALGORITHM TRAINING

In [35]:
## Algorithym training
lg.fit(x_train,y_train)      # training data for the training purpose

LinearRegression()

MODEL EVALUATION

In [36]:
# Model evaluation or testing the model performance 

# Training & Testing 
print("Training score : ",round(lg.score(x_train,y_train)*100,2))
print("Testing score : ",round(lg.score(x_test,y_test)*100,2))

##  > 90 

# differnece betwn training score and test score  > 5 
# model overfit or underfit or perfect(genrailized model )

# model overfit  
# Training score ---->    HIGH 
# Testing score  ---->    LOW 


# model underfit
# Training score ---->    LOW 
# Testing score  ---->    HIGH/LOW

# GENERILIZED MODEL  
# difference not more than 5 
# model overfit or underfit 
# score or accuracy  HIGH in both case on train as well on test data

Training score :  73.55
Testing score :  76.03

PUT PREDICTION IN Y_HAT

In [37]:
## prediction

y_hat = lg.predict(x_test)   # 1462 prediction

PRDICTION SHOULD BE IN Y_HAT

In [38]:
y_test['prediction'] = y_hat

MAKE ROUND FIGURE OF THE PREDICTION

In [39]:
y_test['prediction'] = y_test['prediction'].map(lambda x: round(x,2))

PRINT TOP 40 PREDICTION BY USING HEAD

In [40]:
y_test.head(40)

         price  prediction
9344   80000.0   127265.79
8413   45000.0    19982.00
4680   57000.0   116656.79
5957   28000.0    68132.38
4320   19000.0   -14839.66
1601   80000.0   127855.45
6584   29000.0    40576.96
6366   24000.0    22345.98
7093  164200.0   156510.71
7036  185000.0   222801.78
8728   18000.0   -11546.28
3859   59000.0    17715.24
9007   65000.0   102036.05
5      53499.0    64318.51
8555  115000.0   154955.97
8058   75000.0   132944.96
2680   37000.0     6832.98
3094   32000.0    -1494.58
5153  125000.0   141406.49
563   145000.0   122433.21
4432  123000.0   138778.88
497    17000.0   -13636.63
7631   21000.0     1746.14
2841   30000.0    -8673.98
8710   30000.0    17633.39
2133   25000.0    39103.74
7050   16000.0    39112.54
2150   65000.0    63361.97
482   155000.0   221941.94
64     88000.0   138054.81
389    65000.0    28409.49
1472   76000.0    57505.56
8673   50000.0    35726.61
7110   30000.0   -17324.19
990   105000.0   135200.37
5022   38000.0   101777.32
4653   16500.0     -847.02
2564   13200.0    18482.64
7896   35000.0    20338.19
4000   27000.0    10136.92

IMPORT RANDOMFORESTREGRESSOR

In [41]:
from sklearn.ensemble import RandomForestRegressor
rdf = RandomForestRegressor()

TRAIN THE MODEL

In [42]:
rdf.fit(x_train,y_train)

C:\Users\Ranjit\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor()

MAKING THE ROUND FIGURE

In [43]:
print("Training score : ",round(rdf.score(x_train,y_train)*100,2))
print("Testing score : ",round(rdf.score(x_test,y_test['price'])*100,2))

Training score :  98.51
Testing score :  92.66

PRINTING THE LS

In [44]:
ls = ['arushi','kratika','neetesh','kartik','nikita rawat']
ls

['arushi', 'kratika', 'neetesh', 'kartik', 'nikita rawat']

MAKING THE MODEL FROM THE LIST

In [45]:
lg

LinearRegression()

IMPORT JOBLIB

In [46]:
import joblib

STORING THE LIST AS THE FAVORITE_STUDENT.lb IN RAM

In [47]:
# joblib.dump(ls,'favourate_student.lb')

PRINTING THE LIST

In [48]:
ls

['arushi', 'kratika', 'neetesh', 'kartik', 'nikita rawat']

PRINTING ALL THE JOBLIB LIST IN FAVORITE STUDENT

In [49]:
# favourate_student = joblib.load('favourate_student.lb')
# favourate_student

PRINTING THE LINEAR_REGRESSION_MODEL AS A FILE

In [50]:
joblib.dump(lg,'linear_regression_model.lb')

['linear_regression_model.lb']

PRINTING THE LINEAR_REGRESSION_MODEL

In [51]:
# joblib.dump(lg,'linear_regression_model')