In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
print("libraries imported!")

libraries imported!

In [2]:
loan_data_file_path = "https://raw.githubusercontent.com/upflairs-pvt-ltd/JECRC-20april2024/main/loan%20aproaval%20DL/loan_approval_dataset.csv"
df = pd.read_csv(loan_data_file_path)
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   loan_id                    4269 non-null   int64
 1    no_of_dependents          4269 non-null   int64
 2    education                 4269 non-null   object
 3    self_employed             4269 non-null   object
 4    income_annum              4269 non-null   int64
 5    loan_amount               4269 non-null   int64
 6    loan_term                 4269 non-null   int64
 7    cibil_score               4269 non-null   int64
 8    residential_assets_value  4269 non-null   int64
 9    commercial_assets_value   4269 non-null   int64
 10   luxury_assets_value       4269 non-null   int64
 11   bank_asset_value          4269 non-null   int64
 12   loan_status               4269 non-null   object
dtypes: int64(10), object(3)
memory usage: 433.7+ KB

In [4]:
df.duplicated().sum()

0

In [5]:
df.isnull().sum()

loan_id                      0
 no_of_dependents            0
 education                   0
 self_employed               0
 income_annum                0
 loan_amount                 0
 loan_term                   0
 cibil_score                 0
 residential_assets_value    0
 commercial_assets_value     0
 luxury_assets_value         0
 bank_asset_value            0
 loan_status                 0
dtype: int64

In [6]:
df[' self_employed'].value_counts()

 self_employed
Yes    2150
No     2119
Name: count, dtype: int64

In [7]:
df.columns = df.columns.str.strip()

In [8]:
df.columns

Index(['loan_id', 'no_of_dependents', 'education', 'self_employed',
       'income_annum', 'loan_amount', 'loan_term', 'cibil_score',
       'residential_assets_value', 'commercial_assets_value',
       'luxury_assets_value', 'bank_asset_value', 'loan_status'],
      dtype='object')

In [9]:
df['education'].value_counts().keys()

Index([' Graduate', ' Not Graduate'], dtype='object', name='education')

In [10]:
df['self_employed'].value_counts().keys()

Index([' Yes', ' No'], dtype='object', name='self_employed')

In [11]:

df['loan_status'].value_counts().keys()

Index([' Approved', ' Rejected'], dtype='object', name='loan_status')

In [12]:
cat_columns = ['education','self_employed','loan_status']
cat_columns

['education', 'self_employed', 'loan_status']

In [13]:
df2 = pd.read_csv(loan_data_file_path, skipinitialspace=True,)

In [18]:
df['education'].str.strip().values

array(['Graduate', 'Not Graduate', 'Graduate', ..., 'Not Graduate',
       'Not Graduate', 'Graduate'], dtype=object)

In [15]:
# cat_columns = ['education','self_employed','loan_status']
# for i in cat_columns:
#     df[i] = df[i].str.strip()

In [16]:
# df['education'] = [education.lstrip().rstrip() for education in df['education']]
# df['self_employed'] = [self_employed.lstrip().rstrip() for self_employed in df['self_employed']]
# df['loan_status'] = [loan_status.lstrip().rstrip() for loan_status in df['loan_status']]

In [ ]:
# x = ["education","self_employed","loan_status"]
# for i in x:
#     df[i] = ["" if x == " " else x for x in df[i].values]

In [ ]:
df.columns = [col.strip() for col in df.columns]
columns_strip = ["education", "self_employed", "loan_status"]
for col in columns_strip: