In [86]:
import pandas as pd 
import numpy as np 
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
# reading data from text file 
with open('SMSSpamCollection.txt','r') as file: 
    data = file.read()

In [3]:
temp = data.split('\n')

In [4]:
print("No. of emails : ",len(temp) )

No. of emails :  5575

In [5]:
x = [] 
y = [] 
for email_with_label in temp: 
    temp_emails = email_with_label.split('\t') 
    if len(temp_emails) == 2 : 
        x.append(temp_emails[1])
        y.append(temp_emails[0])

In [6]:
len(x),len(y)

(5574, 5574)

In [7]:
# dataframe
dt = {'email_message':x,"label":y}
email_data = pd.DataFrame(dt)
email_data.head()

                                       email_message label
0  Go until jurong point, crazy.. Available only ...   ham
1                      Ok lar... Joking wif u oni...   ham
2  Free entry in 2 a wkly comp to win FA Cup fina...  spam
3  U dun say so early hor... U c already then say...   ham
4  Nah I don't think he goes to usf, he lives aro...   ham

In [12]:
# #alternative way 
# df2 = pd.read_table('SMSSpamCollection.txt',header=None)
# df2.columns = ['label','email_message']
# df2.head()

In [14]:
email_data['label'].value_counts()

label
ham     4827
spam     747
Name: count, dtype: int64

In [15]:
spam = email_data[email_data['label']=='spam']
ham = email_data[email_data['label']=='ham']

In [16]:
spam.shape

(747, 2)

In [17]:
ham.shape

(4827, 2)

In [20]:
ham = ham.sample(1000)   ## randomly 100 records

In [21]:
spam.shape , ham.shape

((747, 2), (1000, 2))

In [22]:
final_df=pd.concat([ham,spam],axis=0)

In [23]:
final_df.head()

                                          email_message label
4987                   That's y u haf 2 keep me busy...   ham
4266   &lt;DECIMAL&gt; m but its not a common car he...   ham
4000                  K...k...when will you give treat?   ham
1499  Time n Smile r the two crucial things in our l...   ham
3592            How much would it cost to hire a hitman   ham

In [24]:
final_df.shape

(1747, 2)

In [27]:
### Text cleaning  
import re   # regular expression

In [39]:
# index reassigning 
final_df.reset_index(drop=True,inplace=True)

In [44]:
final_df['email_message'][25]
# a-z , A-z

"Appt is at &lt;TIME&gt; am. Not my fault u don't listen. I told u twice"

In [49]:
for i in range(len(final_df)): 
    final_df['email_message'][i] = re.sub('[^a-zA-Z ]','',final_df['email_message'][i]).lower()

C:\Users\Ranjit\AppData\Local\Temp\ipykernel_1936\488455171.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  final_df['email_message'][i] = re.sub('[^a-zA-Z ]','',final_df['email_message'][i]).lower()

In [50]:
final_df.head()

                                       email_message label
0                        thats y u haf  keep me busy   ham
1   ltdecimalgt m but its not a common car here s...   ham
2                         kkwhen will you give treat   ham
3  time n smile r the two crucial things in our l...   ham
4            how much would it cost to hire a hitman   ham

In [64]:
## alphabet -->  label map() 
# spam = 1 
# ham = 0  

labels = list(final_df['label'])
temp_labels = [1 if item =="spam" else 0 for item in labels]
final_df['label'] = temp_labels

In [65]:
final_df.head()

                                       email_message  label
0                        thats y u haf  keep me busy      0
1   ltdecimalgt m but its not a common car here s...      0
2                         kkwhen will you give treat      0
3  time n smile r the two crucial things in our l...      0
4            how much would it cost to hire a hitman      0

<!-- ## independent and dependent x and y variable   -->

In [79]:
x = final_df['email_message']
y = final_df['label']

In [83]:
x = x.values

In [88]:
 bow_obj = CountVectorizer(max_features=1500,stop_words='english')

In [89]:
X =  bow_obj.fit_transform(x)

In [93]:
X

<1747x1500 sparse matrix of type '<class 'numpy.int64'>'
	with 12586 stored elements in Compressed Sparse Row format>

In [91]:
X.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

### PRectise

In [71]:
import numpy as np

In [72]:
arr = np.random.randint(1,999,250)
arr 
# even = 1 , odd =  0

array([920, 671,  32, 140, 440,  76, 216, 511, 107, 121, 254, 475, 781,
       597, 191, 867, 349, 783, 961,  58, 440, 398, 407, 793, 428, 198,
       508, 481, 175, 298, 422, 151, 962, 978, 171, 847, 970, 869, 183,
       945, 814, 659, 874, 309, 181, 124, 831,  94, 520,  91, 176, 367,
       355, 313, 762, 257,   1, 224, 516, 621, 861, 403, 871, 518, 856,
       842, 846, 179, 816, 208, 637,  38, 578, 270, 697,  35,  54, 969,
       769, 415, 606, 265, 419, 239, 710, 559, 777, 126, 534,  93,  50,
       112, 965, 890,  86, 572,  33, 924, 118, 895, 318, 115, 847, 535,
       147, 341,  25, 649, 590, 527, 789, 747, 920,  75, 975, 205, 520,
       984, 217, 279, 806, 264, 409, 117, 453, 719, 469,  48,  45, 359,
       698, 420, 992, 937, 579,  85, 364,  71, 124,  45, 294, 854, 963,
       953, 724, 127, 528, 228, 720, 273, 559, 583, 555, 926, 104, 586,
       135, 504,  20, 900, 880, 663, 345, 358, 889, 537, 965, 911, 766,
       627, 799, 387, 120, 936, 375, 993, 335, 882,  11, 112, 926, 289,
       586,  73, 429, 277, 932, 804, 251, 375, 744, 255, 242, 278, 818,
       449, 855, 135, 246, 463, 218,  55, 812, 912, 988, 503, 788, 948,
       502, 804, 180, 323, 797, 891, 797,  49, 524, 181, 265, 997, 853,
       457, 476, 380, 759,   2, 622,  42, 625, 188, 303,  81, 601, 417,
       584, 157, 270, 313, 128, 336, 170, 252, 138, 824, 404, 500, 341,
       860, 806, 216])

In [ ]:
even  == 1 , odd ==  0

In [57]:
temp_label = [] 
for i in labels: 
    if  i == 'spam':
        temp_label.append(1)
    else: 
        temp_label.append(0)
 
# list comprehension

In [58]:
lst = [2,4,6,8,9,5,6,4]
square = []
for item in lst: 
    square.append(item ** 2)
    
print(square)

[4, 16, 36, 64, 81, 25, 36, 16]

In [62]:
[item ** 2  for item in lst]

[4, 16, 36, 64, 81, 25, 36, 16]

In [63]:
# list comprehension 
# labels = [1 if item =="spam" else 0 for item in labels]